{{#if this._id}}
  <h4>Edit Report</h4>
{{else}}
  <h4>Edit New Report</h4>
{{/if}}

<div class="edit-report"></div>

<h4>Report Preview</h4>
<div class="preview"></div>

<button class="save btn btn-primary">Save Report</button>
