<div class="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/#/" class="navbar-brand show-drop-nav">NewTables</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/#/" class="show-reports" ><i class="fa fa-envelope"></i> reports</a></li>
      </ul>
    </div>
  </nav>
</div>
